<header>
    <a href="/">All Books</a>
    <a href="/authors">All Authors</a>
    <br />
    <hr />
    <br />
    <a href="/addBook"><button>Add book</button></a>
    <a href="/authors/addAuthor"><button>Add Author</button></a>
</header>